################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/StreamWriterTrials/v17/.wsuo
/StreamWriteTrial01/.vs/StreamWriteTrial01
